body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Variables */
:root {
	--black: #000;
	--grey-dk: #272727;
	--white: #fff;
	--yellow: #fce21b;

	--gutter: 1.75rem;

	--regular: 400;
	--semibold: 600;
	--bold: 700;
	--extrabold: 800;
	--blackweight: 900;
	--sm: 500px;
	--md: 769px;
	--lg: 1200px;
}



/* Base */
html,
body {
	font-family: 'Montserrat', sans-serif;
}

nav li {
	list-style: none;
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
}

.nav-text {
	color: var(--white);
	font-size: .8rem;
	font-weight: var(--bold);
	letter-spacing: .05em;
}

.nav-text:hover,
.nav-text:focus {
	color: var(--yellow);
}

.main-nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media(min-width: 769px) {
	.main-nav {
		align-items: center;
		justify-content: space-between;
		padding-top: var(--gutter);
		padding-bottom: var(--gutter);
	}
}

.main-nav a {
	text-decoration: none;
}

.hero {
	margin-top: -6rem;
}

.h1 {
	font-size: 2rem;
	font-weight: var(--semibold);
	line-height: 1.1;
}

.h1.dash {
	line-height: .6;
}

.h1 strong {
	font-weight: var(--extrabold);
}

.h1 .subtitle {
	font-size: 1rem;
	font-weight: var(--semibold);
}

@media(min-width: 769px) {
	.h1 {
		font-size: 3.5rem;
	}

	.h1 .subtitle {
		font-size: 1.5rem;
	}
}

.h2 {
	font-size: 1.5rem;
	font-weight: var(--bold);
	margin-top: 0;
}

@media(min-width: 769px) {
	.h2 {
		font-size: 2rem;
	}
}

.h2-alt {
	font-weight: var(--regular);
}

.h3 {
	font-size: 1.125rem;
	font-weight: var(--bold);
	margin-bottom: 0;
}

.h3 > a {
	color: var(--grey-dk);
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

.h3 > a:hover,
.h3 > a:focus {
	border-bottom: 1px solid var(--grey-dk);
	background-color: var(--yellow);
	transition: all 300ms ease-in-out;
}

.intro {
	font-size: 1.3rem;
}

.tag + .h3 {
	margin-top: 0;
}

.background-img {
	background: var(--black) url('img/hero-image.jpg') bottom no-repeat;
	background-size: cover;
	opacity: .25;
}

.background-black {
	background-color: var(--black);
}

.background-yellow {
	background-color: var(--yellow);
}

.background-white {
	background-color: var(--white);
}

.transparency {
	opacity: 0.2;
}

.block {
	display: block;
}

.text-white {
	color: var(--white);
}

.text-grey {
	color: var(--grey-dk);
}

.text-yellow {
	color: var(--yellow);
}

.text-center {
	text-align: center;
}

.italic {
	font-style: italic;
	font-weight: var(--regular);
}

.position-relative {
	position: relative;
}

.position-absolute {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.small-text {
	font-size: .7rem;
	font-weight: var(--regular);
}

.small-text a {
	color: var(--grey-dk);
	text-decoration: underline;
}

.upper {
	text-transform: uppercase;
}

.z-2 {
	z-index: 2;
}

.skip-link {
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}


/* Spacing */
.container {
	margin: 0 auto;
	max-width: 1200px;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.padding-vertical {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.padding-vertical.hero {
	padding-top: 5rem;
}

@media(min-width: 769px) {
	.padding-vertical {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.padding-vertical.hero {
		padding-top: 6rem;
	}
}

.flex-center {
	align-items: center;
}

@media(min-width: 769px) {
	.flex-wrapper {
		display: flex;
	}

	.flex-wrapper.actions-list {
		justify-content: space-between;
	}
}

@media(min-width: 769px) {
	.col-2 {
		width: 17%;
	}

	.col-4 {
		width: 34%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 60%
	}
}

.card-text {
	line-height: 1.4;
	margin-top: .5rem;
}



/*Thought Leader Component*/
.thought-leader {
	display: inline-block;
}

.thought-leader img {
	width: 100%;
}

@media(min-width: 769px) {
	.thought-leader img {
		width: 12.5rem;
	}
}

.thought-leader .transparency {
	opacity: .5;
}

.thought-leader a:focus .instagram-item,
.thought-leader a:hover .instagram-item {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: all 300ms ease-in-out;
	z-index: 2;
}

.instagram-item {
	display: none;
	transition: all 300ms ease-in-out;
}

.margin-bottom {
	margin-bottom: var(--gutter);
}

.margin-right {
	margin-right: var(--gutter);
}

.margin-zero {
	margin: 0;
}


/* Elements */
blockquote {
	margin: 0;
}

.button-yellow {
	background-color: var(--yellow);
	border: none;
	font-size: 1rem;
	font-weight: 900;
	padding: 1rem 2.5rem;
	transition: background 300ms ease-in-out;
}

.button-yellow:hover,
.button-yellow:focus {
	background-color: var(--black);
	color: var(--yellow);
	transition: all 300ms ease-in-out;
}

.button-yellow.button-small {
	font-size: .75rem;
	padding: 1rem 1.75rem;
}

.checkmark {
	height: 1rem;
	left: -1.4rem;
	top: 2.25rem;
	width: 1rem;
	z-index: 2;
}

.checkmark-square {
	left: -1.7rem;
	top: 2.45rem;
	width: 1rem;
	height: 1rem;
	z-index: 1;
}

.completed-items {
	margin-top: 0;
}

.dash-button.button-position {
	margin-bottom: var(--gutter);
}

.number-large {
	font-size: 2.625rem;
	font-weight: var(--bold);
}

.number-large + p {
	margin-top: 0;
}

.tag {
	color: var(--grey-dk);
	display: inline-block;
	font-size: .7rem;
	font-weight: var(--semibold);
	padding-right: 1rem;
	text-transform: uppercase;
}



/* Components */
.action-item.completed {
	margin-left: var(--gutter);
}

.commitments {
	padding: 1rem 1rem 2rem;
	text-align: center;
}

.commitments .background-yellow {
	padding: 1rem;
}

.commitments .flex-wrapper {
	justify-content: space-around;
}

.why {
	margin-right: 12%;
}

.h1.dash {
	margin-right: 8%;
}

@media (min-width: 930px) {
	.actions-list {
		margin-top: -5.5rem;
	}
}

@media(max-width: 500px) {
	.actions-list {
		padding: 0;
	}
}
