body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--black: #000;
	--grey-dk: #272727;
	--grey-lt: #272727;
	--white: #fff;
	--yellow: #fce21b;

	--gutter: 1.75rem;

	--regular: 400;
	--semibold: 600;
	--bold: 700;
	--extrabold: 800;
	--blackweight: 900;
}

html {
	font-family: 'Montserrat', sans-serif;
}

.h1 {
	font-size: 2rem;
	font-weight: var(--semibold);

strong {
	font-weight: var(--extrabold);
}
}

@media(min-width: 769px) {
	.h1 {
		font-size: 3.5rem;
	}
}

.h2-alt {
	font-weight: var(--regular);
}

.h3 {
	font-weight: var(--semibold);
	margin-bottom: 0;
}

.tag + .h3 {
	margin-top: 0;
}

.background-img {
	background: var(--black) url('img/hero-image.jpg') bottom no-repeat;
	background-size: cover;
}

.background-black {
	background-color: var(--black);
}

.background-yellow {
	background-color: var(--yellow);
}

.background-white {
	background-color: var(--white);
}

.transparency {
	opacity: 0.2;
}

.block {
	display: block;
}

.text-white {
	color: var(--white);
}

.text-grey {
	color: var(--grey-dk);
}

.text-yellow {
	color: var(--yellow);
}

.text-center {
	text-align: center;
}

@media(min-width: 769px) {
	.flex-wrapper {
		display: flex;
	}

	.flex-wrapper.actions-list {
		justify-content: space-between;
	}
}


@media(min-width: 769px) {
	.col-4 {
		width: 33%;
	}

	.col-7 {
		width: 60%
	}
}

.button-yellow {
	background-color: var(--yellow);
	font-size: 1rem;
	font-weight: 900;
	padding: 1rem 2.5rem;
	border: none;
}

.tag {
	color: var(--grey-dk);
	display: inline-block;
	font-size: .7rem;
	padding-right: 1rem;
}

.card-text {
	margin-top: .5rem;
}

/* Spacing */
.container {
	margin: 0 auto;
	max-width: 1200px;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.padding-vertical {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

@media(min-width: 769px) {
	.padding-vertical {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

@media(min-width: 1024px) {
	.padding-vertical {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

.position-relative {
	position: relative;
}

.position-absolute {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.z-2 {
	z-index: 2;
}

.thought-leader {
	display: inline-block;

}

.thought-leader img {
	width: 12.5rem;
}

.thought-leader .transparency {
	opacity: .5;
}

.instagram-item {
	display: none;
	transition: all 300ms ease-in-out;
}

.thought-leader a:focus .instagram-item,
.thought-leader a:hover .instagram-item {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: all 300ms ease-in-out;
	z-index: 2;
}
